<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <!-- add the ".owner?" to see if the taco has an owner name > this avoids see an error  -->
  <!-- <% if (taco.owner){ %> 
	<p>From the kitchen of <%= taco.owner?.name %>...</p>
  <% } %> -->
  <p>From the kitchen of <%= taco.owner.name %>...</p>
  <h1><%= taco.name %> 🌮</h1>
  <h2>This taco is <%= taco.tasty ? 'tasty! 😋' : 'not tasty! 😫' %></h2>
  <% if (user) { %>
    <form 
      action="/tacos/<%= taco._id %>/flip-tasty?_method=PATCH" 
      method="POST"
    >
      <button class="btn" type="submit">
        Make taco <%= taco.tasty ? 'not tasty 🌮🥺' : 'tasty 🌮🎉' %>
      </button>
    </form>
    <!-- edit form -->
    <% if (taco.owner.equals(user?.profile._id)) { %>
      <a href="/tacos/<%= taco._id %>/edit">
        <button class="btn">Edit this Taco 🌮🚧</button>
      </a>
      <!-- delete taco -->
      <form action="/tacos/<%= taco._id %>?_method=DELETE" method="POST">
        <button class="btn" type="submit">Delete this taco 🌮💀</button>
      </form>
    <% } %>
  <% } %>
</section>

<%- include('../partials/footer') %>